*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.header{
    width: 80%;
    padding: 50px 30px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 60px;
}
.header form input{
    padding: 10px;
}
.header form button{
    padding: 11px 18px;
    background-color: rgb(201, 64, 64);
    border: none;
    color: #fff;
}

/*Стиль меню*/
.menu{
    width: 80%;
    height: auto;
    padding: 10px;
    background: transparent;
    margin: auto;
    display: flex;
    gap: 10px;
}
.menu a{
    padding: 10px;
    color: #b93939;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-weight: 600;
}
.menu a:hover{
    background-color: #b93939;
    color: #fff;
    border-radius: 10px;
}
/*Стили контента*/
.content{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 80%;
    margin: auto;
}
.section{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: rgb(255, 166, 106);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section_img{
    width: 60%;
    height: auto;
}
.section_img img{
    width: 100%;
}
.section_content{
    width: 38%;
}
.section_content h2{
    margin-bottom: 10px;
    font-size: 36px;
}
.section_content p{
    margin-bottom: 10px;
    font-size: 18px;
}
.section_content p a{
    color: rgb(201, 64, 64);
}
.section_content button{
    color: white;
    padding: 4px 12px;
    background-color: #b93939;
    border: none;
}
.content_text{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;
}
.content_text1:first-child{
    width: 70%;
}
.content_text1:last-child{
    width: 30%;
}